{% extends "quotes/base.html" %}

{% block content %}
<div class="container">
    <h2>Login</h2>
    {% if messages %}
    <div class="alert">
        {% for message in messages %}
        <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}

        {% for field in form.visible_fields %}
        <div class="form-group row">
            <label class="col-xs-3 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="col-xs-9">
                {{ field }}
            </div>
        </div>
        {% endfor %}

        <div class="form-group row">
            <div class="col-xs-offset-3 col-xs-9">
                <button type="submit" class="btn btn-primary">Login</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
