{% extends 'quotes/base.html' %}

{% block content %}
<div class="container">
    <form method="POST" action="{% url 'quotes:add_author' %}">
        {% csrf_token %}
        {{ form.errors }}

        <div class="form-group">
            <label for="fullname">Enter the Author name:</label>
            <input type="text" class="form-control" id="fullname" name="fullname" value="{{ form.fullname.value|default_if_none:'' }}">
            <span class="error">{{ form.errors.fullname }}</span>
        </div>

        <div class="form-group">
            <label for="born_date">Enter the Author born date:</label>
            <input type="text" class="form-control" id="born_date" name="born_date" value="{{ form.born_date.value|default_if_none:'' }}">
            <span class="error">{{ form.errors.born_date }}</span>
        </div>

        <div class="form-group">
            <label for="born_location">Enter the Author born location:</label>
            <input type="text" class="form-control" id="born_location" name="born_location" value="{{ form.born_location.value|default_if_none:'' }}">
            <span class="error">{{ form.errors.born_location }}</span>
        </div>

        <div class="form-group">
            <label for="description">Enter the Author description:</label>
            <textarea class="form-control" id="description" name="description">{{ form.description.value|default_if_none:'' }}</textarea>
            <span class="error">{{ form.errors.description }}</span>
        </div>

        <div class="grid">
            <button type="submit" class="btn btn-primary">Add Author</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
    </form>
</div>
{% endblock %}
